.example-card{
    height: max-content;
}
.card-data{
    justify-content: center;
}
.mat-card-heading{
  background-color: #D7675C !important;
  padding: 16px !important;
  color: #fff;
  text-align: center;

  }
  .mat-card{
    padding:0 !important;
  }
  .example-full-width {
    width: 100%;
  }
  .form-group{
    padding: 20px;
  }
  .btn-login{
    padding-left: 36%;
  }