
    <div class="container">
      <nav class="navbar navbar-light">
        <a class="navbar-brand">
          <img src="../assets/logo.jpg" alt="">
        </a>
        <div>
          <img src="../assets/digital-india.png" alt="">
          <img src="../assets/google.png" alt="">
        </div>
      </nav>
      </div>
      <div class="navbar">
        <ul class="main-navigation">
          <li> <a href="" routerLink="" >Home</a> </li>
          <li><a href=""  routerLink="/aboutus">About us</a></li>
          <li> <a href="" routerLink="/contactus" >Contact us</a></li>
          <li> 
            <a mat-button [matMenuTriggerFor]="appmenu">Login</a>
            <mat-menu #appmenu="matMenu">
              <button mat-menu-item routerLink="/login">Student login</button>
              <button mat-menu-item routerLink="/institute-login">Institute login</button>
              <button mat-menu-item routerLink="/ministery-login">Ministry login</button>
              <button mat-menu-item routerLink="/nodal-login">Nodal login</button>
            </mat-menu>
          </li>
          <li>
            <a mat-button [matMenuTriggerFor]="menu">New Registration</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/student-register">Student Registration</button>
              <button mat-menu-item routerLink="/institute-register">Institute Registration</button>
              <button mat-menu-item routerLink="/minister-register">Minister Registration</button>
            </mat-menu>
          </li>  
         
        </ul>
      </div>