<div class="container">
	<div class="row">
		<div class="col-md-3">
			<mat-card>
				<mat-card-title class="mat-card-heading">
					<span><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
					 Latest Updates
				</mat-card-title>
				<mat-card-content>
					<marquee behavior="" direction="up">
						<li>
							<a href="#">
							<p class="update-para">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt debitis alias adipisci iste ab nisi sapiente 
							</p>
							 </a>
						</li>
						<li>
							<a href="#">
								<p class="update-para">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt debitis alias adipisci iste ab nisi sapiente 
								</p>
								 </a>
						</li>
						<li>
							<a href="#">
								<p class="update-para">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt debitis alias adipisci iste ab nisi sapiente 
								</p>
								 </a>
						</li>
					</marquee>
				</mat-card-content>

			</mat-card>
			<mat-card class="mt-4">
				<mat-card-title  class="mat-card-heading"> <span><i class="fa fa-phone" aria-hidden="true"></i></span>  Help Desk</mat-card-title>
				<mat-card-content>
					<p class="help-desk-p">Candidates can contact the Help Desk for resolution of the technical problems</p>
					<hr>
					<p style="color: brown; font-size: 20px; margin-left: 10px;"class="help-desk-p"><span><i class="fa fa-phone" aria-hidden="true"></i>  </span>   0120 - 6619540</p>
					<hr>
					<p style="color: brown; font-size: 20px; margin-left: 10px;" class="help-desk-p"><span><i class="fa fa-envelope" aria-hidden="true"></i>  </span>   helpdesk123@gmail.com</p>
				</mat-card-content>

			</mat-card>
		</div>
		<div class="col-md-9 ">
			<mat-card class="desc-card">
				<mat-card-title  class="mat-card-heading" style="text-align: center;">Description</mat-card-title>
				<mat-card-content>
					<div class="desc-para">		
				<li>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab expedita accusamus ad doloribus eos ipsa
						 aliquam natus impedit mollitia temporibus, molestiae sint alias deleniti, odio in maxime libero nihil molestias?</p>
				</li>
				<li>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo provident blanditiis quod pariatur 
						laboriosam ullam repudiandae sunt odio recusandae alias quisquam, mollitia sit dolor itaque earum magnam ea corporis?</p>
				</li>
				<li>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab necessitatibus laudantium aliquid, nihil nesciunt expedita ipsa 
						aut praesentium dolore architecto voluptatum ipsam, totam, molestiae nam nemo cumque animi voluptates sit.</p>
				</li>
				<li>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab expedita accusamus ad doloribus eos ipsa
						 aliquam natus impedit mollitia temporibus, molestiae sint alias deleniti, odio in maxime libero nihil molestias?</p>
				</li>
				<li>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo provident blanditiis quod pariatur 
						laboriosam ullam repudiandae sunt odio recusandae alias quisquam, mollitia sit dolor itaque earum magnam ea corporis?</p>
				</li>
				<li>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab necessitatibus laudantium aliquid, nihil nesciunt expedita ipsa 
						aut praesentium dolore architecto voluptatum ipsam, totam, molestiae nam nemo cumque animi voluptates sit.</p>
				</li>
			
			</div>
				
		</mat-card-content>

			</mat-card>
			
		</div>
		
	</div>
</div>
